.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

:root {
  --button-color: #6246ea;
  --button-hover-color: #4a2ae6;
  --button-click-color: #3918da;
  --button-text-color: #fffffe;
}