.button {
  background-color: var(--button-color);
  
  width: 100px;
  height: 40px;
  
  color: var(--button-text-color);
  font-weight: 500;
  font-size: 14px;
  
  border: none;
  border-radius: 6px;
  user-select: none;
  
  transition: background-color .1s;
}

.button:hover {
  background-color: var(--button-hover-color);
}

.button:active {
  background-color: var(--button-click-color);
}

.button-wide {
  width: 100%;
}

.button-small {
  width: 50px;
}