#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-top: auto;
  
  gap: 10px;
}

#footer img {
  width: 32px;
  height: auto;
  
  transition: transform .2s;
}

#footer img:hover {
  transform: rotate(360deg);
}